.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  position: relative;
}

#user-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pagination-container {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;

  .pagination {
    // position: fixed;
    // top: 50%;
    color: #42b983;
    font-size: 30px;
    width: 150px;
    padding: 10px;
    margin: 0 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 0;
    border-radius: 10px;
    background-color: #323347;
    cursor: pointer;
    outline: none;
  }

  .pagination.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  .pagination:hover {
    transform: scale(1.01);
  }

  #page {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #323347;
    width: 50px;
    color: #42b983;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    .pagination {
      width: 120px;
      font-size: 22px;
      padding: 8px;
      margin: 0 10px;
    }
    #page {
      width: 40px;
      font-size: 22px;
      padding: 8px;
    }
  }
}

#vov {
  height: 10px;
}
