#pagination-container {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  position: initial;
  bottom: 0;
  z-index: 100;

  .pagination {
    width: 150px;
    padding: 10px;
    margin: 0 20px;
    font-size: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 0;
    border-radius: 10px;
    color: #61dbfb;
    background-color: #323347;
    cursor: pointer;
    outline: none;
  }

  .pagination.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  .pagination:hover {
    transform: scale(1.01);
  }

  #page {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #323347;
    color: #61dbfb;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    .pagination {
      width: 80px;
      font-size: 16px;
    }
  }
}
